.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 25px 0px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  /* So it doesn't interfere with video controls */
}

/* apartment css  */
.apartmentCard1 {
  position: relative;
  width: 380px;
  height: 560px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none; 
}

.apartmentCard1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../assets/img/aprtment1.avif'); /* fallback */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.apartmentCard1:hover::before {
  transform: scale(1.1);
}


.apartmentCard1:hover {
  .cardpopUp {
    background-color: #AA8B5F;
  }
}

.cardpopUp {
  padding: 10px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}
/* Initial fade-in effect when the element appears */
.serviceImg {
  opacity: 0.6; /* semi-transparent initially */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.serviceImg:hover {
  transform: scale(0.96); /* zoom out (shrink) */
  opacity: 1;            /* fade to full opacity */
}

